@mixin btn($background-color, $color, $bold) {
	background-color: $background-color;
	color: $color;
	border-radius: 50px;
	padding: 20px 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;

	// Condiconal
	@if ($bold == 'true') {
		font-weight: bolder;
	}
}

.btn {
	&.btn-cta {
		@include btn($primary-color, $secondary-color, 'true');

		&:hover {
			@include btn($secondary-color, $terciary-color, 'true');
			box-shadow: $box-shadow;
		}
	}
	&:hover {
		@include btn($terciary-color, $secondary-color, 'true');
		box-shadow: $box-shadow;
	}
}
