// Función en SASS

@function size($value) {
	@return $value * $unit;
}

// Mixin
@mixin reset-pm {
	padding: 0;
	margin: 0;
}


.row {
	display: flex;
	align-items: center;
	.col {
		width: 50%;
	}

	.col-30 {
		width: 30%;
	}

	.col-70 {
		width: 70%;
	}
}

.m-auto {
	margin: 0 auto;
}

// Ciclo en sass
@for $i from 1 to $limit {
	.m-#{$i} {
		margin: $i * $unit;
	}
}
@for $i from 1 to $limit {
	.p-#{$i} {
		padding: $i * $unit;
	}
}

@for $i from 1 to $limit {
	.py-#{$i} {
		padding: $i * $unit 0;
	}
}
@for $i from 1 to 4 {
	.w-#{$i} {
		width: $i * 25%;
	}
}
